.page {
  padding-top: 3.6rem;
  max-width: $contentWidth;
}

.content__default {
  padding-left: 2rem;
}

.content__default img {
  max-width: $contentWidth;
}

.sidebar-sub-headers a {
  position: relative;
  padding-left: 10px;
}
.sidebar-sub-headers a::before {
  content: '-';
  display: block;
  position: absolute;
  font-weight: bold;
  width: 90%;
  top: 4px;
  left: 23px;
}
